<div class="card mb-3" id="<%= dom_id post %>">
  <div class="card-body">
    <h5 class="card-title"><%= post.title %></h5>
    <p class="card-text">
      <%= post.body %>
    </p>
    <%= link_to "Show this post", post, class: "card-link" %>
  </div>
</div>
